**/*.iml
**/*.md
**/.cache
**/*.gradle
**/.strapi-updater.json
**/.terraform
**/LICENSE
**/build
**/dist
**/node_modules
.editorconfig
.git
.github
.graphqlconfig
.idea
gradle
gradlew*
helmfile.*
packages/cloud
sonar-project.properties