*/*.iml
**/*.md
*.gradle
.strapi-updater.json
LICENSE
node_modules
packages/*/node_modules
packages/*/build
packages/*/dist
packages/*/.cache
packages/*/.tmp
packages/*/*.iml
packages/cloud
.scannerwork
.skaffold
*/schema.graphqls
.editorconfig
.do
.git
.gradle
.graphqlconfig
.idea
.husky
docs
gradle
gradlew*
helmfile.*
*-tests.yaml
docker-compose.yml
