*.sqlite                                      -text

packages/cms/database/*.sqlite                merge=ours
packages/cms/config/sync/*.json               merge=ours
packages/cms/src/types/graphql.d.ts           merge=ours
packages/cms/src/types/schema.d.ts            merge=ours
packages/website/src/graphql/index.ts         merge=ours
packages/website/src/types/graphql.d.ts       merge=ours

