# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\github.com\bn-digital\app\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/python-terminal.xml
/php.xml
/google-java-format.xml
/aws.xml
